body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button.chowzb {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 3.6em;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.7);
  box-shadow: 0 0 0px 0px rgba(0,0,0,0);
  border-radius: 15%;
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}

button.hCVuYx {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 3.6em;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.7);
  box-shadow: 0 0 0px 0px rgba(0,0,0,0);
  border-radius: 15%;
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}